# Arquivos gerados pelo Flex e Bison
lex.yy.c
*.tab.c
*.tab.h
*.lex.c

# Executáveis (Linux e Windows)
*.out
*.exe
a.out

# Ignorar apenas os executáveis das questões 
/AT1/q1/q1
/AT1/q2/q2
/AT1/q3/q3
/AT1/q4/q4
/AT2/PT1/pt1
/AT2/PT2/pt2
/AT3/Q1/decl
/AT3/Q2/decl

# Arquivos temporários e do sistema
.DS_Store
Thumbs.db
*.o